<a href="https://colab.research.google.com/github/noelmtv/Colab-Learning/blob/Pyhon-for-Data-Analytics/%5B12%5D_Operators_Part_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Logical and Identity Operators in Python**
Python has different types of operators, but letâ€™s focus on **logical operators** (`and`, `or`) and **identity operators** (`is`, `is not`).

### **1. Logical Operators (`and`, `or`)**
Logical operators are used to combine conditional statements.

#### **a) `and` Operator**
- Returns `True` if **both** conditions are `True`.
- Otherwise, it returns `False`.

ðŸ“Œ **Example:**
```python
x = 5
y = 10
z = 15

# Both conditions must be True
result = (x < y) and (y < z)  
print(result)  # True

# One condition is False
result = (x > y) and (y < z)  
print(result)  # False
```

#### **b) `or` Operator**
- Returns `True` if **at least one** condition is `True`.
- Returns `False` if **both** conditions are `False`.

ðŸ“Œ **Example:**
```python
x = 5
y = 10
z = 15

# At least one condition is True
result = (x > y) or (y < z)  
print(result)  # True

# Both conditions are False
result = (x > y) or (z < y)  
print(result)  # False
```

---

### **2. Identity Operators (`is`, `is not`)**
Identity operators compare whether two variables **point to the same object in memory**, not just if they have the same value.

#### **a) `is` Operator**
- Returns `True` if both variables **refer to the same object**.

ðŸ“Œ **Example:**
```python
a = [1, 2, 3]
b = a  # Both variables point to the same list in memory
c = [1, 2, 3]  # A new list with the same values but a different object

print(a is b)  # True (same object)
print(a is c)  # False (different objects)
```

#### **b) `is not` Operator**
- Returns `True` if variables **do not refer to the same object**.

ðŸ“Œ **Example:**
```python
a = [1, 2, 3]
b = [1, 2, 3]

print(a is not b)  # True (different objects)
```

---

### **Key Takeaways**
| Operator | Meaning | Example | Output |
|----------|---------|---------|--------|
| `and` | Both conditions must be `True` | `(5 < 10) and (10 < 15)` | `True` |
| `or` | At least one condition must be `True` | `(5 > 10) or (10 < 15)` | `True` |
| `is` | Checks if two variables refer to the same object | `a is b` | `True` or `False` |
| `is not` | Checks if two variables refer to different objects | `a is not b` | `True` |

# Lecture Practice

## Logical Operators

In [4]:
job_wfh = True
job_health_insurance = True
job_degree_required = False

print(job_wfh and job_health_insurance)
print(job_wfh and job_degree_required)
print(job_wfh and job_health_insurance or job_degree_required)

True
False
True

In [5]:
job_wfh and not job_degree_required
# the not operator just flips the proceding thing

True

In [6]:
if job_wfh or job_degree_required or not job_degree_required:
  print("Meets condition")

Meets condition

## Membership Operators

| Operator | Meaning | Example |
|----------|---------|---------|
| `in` | Memebership  | `x in y`|
| `not in` | Not Membership | `x not in y`| [link text](https://)

In [9]:
print("Data" in "Data Analyst")
print("Data" in "data Analyst")
print("Data" not in "data Analyst")

# these are case sensitive

True
False
True

### Use in Lists

In [10]:
job_skills = ["python", "r", "sql", "tableau"]

print("python" in job_skills)
print("excel" in job_skills)
print("excel" not in job_skills)

True
False
True

## Identity operators

|Operator|Operator Type| Example|
|--------|-------------|--------|
|`is`| Identity| x `is` y|
|`is not`| Not Identity| x `is not` y|





##### Remember Identity operators are not comparison operators `(=)`

In [14]:
noel_salary = 100_000
anon_salary = 100_000

noel_salary is anon_salary
# the is operator is verifying if the variables are using the same memory
# location for the value their holding

False

In [18]:
print(id(noel_salary))
print(id(anon_salary))
print(id(noel_salary) == id(anon_salary))

135255130056880
135255130047760
False

### Proper Use

In [20]:
core_skils = ["python", "r", "sql", "tableau"]
anon_skills = core_skils

print(core_skils is anon_skills)
print(core_skils == anon_skills)
print(id(core_skils))
print(id(anon_skills))

True
True
135255128779264
135255128779264

## Bitwise Operators



|Operator| Operator Type| Exapmle|
|--------|--------------|--------|
|`&`     | Bitwise AND  | x & y  |
| `\|`   | Bitwise Or   | x \| y |
|`^`     | Bitwise XOR  | x^y    |
|`~`     | Bitwise NOT  | ~x     |
|`<<`    | Left Shift   | x << y |
|`>>`    | Right Shift  | x >> y |

In [21]:
bin(42)
# this is how the computer is processing 42

'0b101010'