<a href="https://colab.research.google.com/github/noelmtv/Colab-Learning/blob/Pyhon-for-Data-Analytics/%5B1%5D_Learning_variables_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Creating Variables

In [ ]:
salary = 100000

In [ ]:
salary

100000

In [ ]:
"salary"

'salary'

In [ ]:
#total salry = base Salary * (1+ Bonus rate)

In [ ]:
base_salary = 100000
bonus_rate = 0.1

In [ ]:
total_salary = base_salary * (1 + bonus_rate)

In [ ]:
total_salary

110000.00000000001

# Variables aren't only numbers

  They could be
    

*   Integers
*   strings
*   boolean
*   ect

In [ ]:
company_name = "Blackwood Capital"
job_wfh = True

In [ ]:
company_name
job_wfh

True

In [ ]:
print(company_name)
print(job_wfh)

Blackwood Capital
True

In [ ]:
job_id = 101
job_title = "Data Scientist"
job_salary = 100000

In [ ]:
print("Data Job Description")
print("---------------------")
print("Job ID:", job_id)
print("Job Title:", job_title)
print("Job Salary:", job_salary)

Data Job Description
---------------------
Job ID: 101
Job Title: Data Scientist
Job Salary: 100000